.recommended{
display: flex;
justify-content: flex-start ;
margin-left: 16%;
align-items: center;
width: 100%;
height: 100%;
}

.recom-boxes{
    width: 35px;
    height: 15px;
    padding: 10px;
    background-color: transparent;
    border: 1px solid #e5e5e5;
    margin-left: .4vw;
    font-weight: 500;
    font-size: 12.5px;
    text-align: center;
}
.recom-all{
    width: 80px ;
    margin-left: 0;
}
.recon-all-boxes{
    display: flex;
}
.recommended-boxes{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1vh;
}