.category{
display: flex;
flex-direction: column;
gap: 1vw;
}
.category-heading{
    font-size: 1.5vw;
}
.category-boxes{
    display: flex;
    gap: .2vw;
    font-size: .85vw;
}

.sidebar-label-container input:hover ~ .checkmark{
background-color: #ccc;
}
.sidebar-label-container input:hover ~ .checkmark{
background-color: rgba(10, 42, 112, 0.8);
}